@media (prefers-color-scheme: dark) {
	body { color:#fff; background:#000 }
	a { color: #9cf }
}

@media print {
	a[href] {
		text-decoration: none;
		color: black;
	}
}

body { 
	margin: 1em auto; 
	max-width: 40em; 
	padding: 0 .64em; 
	line-height:1.6; 
	font-size: 18px; 
}

h1, h2, h3, h4 { 
	line-height:1.2; 
}

a { 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

h1, footer { 
	text-align: center; 
}

main { 
	min-height: calc(100vh - 130px); 
}

footer{ 
	height: 50px; 
}
